extends layout
block content
    div.container(style={"max-width": "450px;"})
        //Finish learn
        div.step(style={"display":"inline", "opacity":1})
            if loggedIn
                h4.result-title Authentication succeeded!
                .form-group.demo-bm
                    .panel.panel-default.panel-result(style="margin-bottom: 5px;")
                        .panel-body
                            .col-md-4.col-xs-12.demo-chart
                                div(style={'vertical-align': 'middle'})
                                    div.gauge(id='g1', data-percent = lastResult.score, data-color = resultColour, data-text-bg-color='#fbfbfb')
                                        div.indicator-left
                                            div.indicator-left-inner
                                        div.indicator-right
                                            div.indicator-right-inner
                                        div.inner
                            .col-md-8.col-xs-12.demo-result
                                div.name TypingDNA match
                                    span.result-green #{lastResult.result === 1 ? 'true' : 'false'}
                                div.name Device
                                    span.result #{device}
                                div.name Enrollments
                                    span.result#enrollments #{diagramCount}
                span.result-title
            else
                .form-group(style="margin-bottom: 5px;")
                    h4.result-title Authentication failed!
                .form-group.demo-bm
                    .panel.panel-default.panel-result
                        .panel-body
                            .col-md-4.col-xs-12.demo-chart
                                div(style={'display': 'inline-block', 'vertical-align': 'middle'})
                                    div.gauge(id='g1', data-percent=lastResult.score, data-color=resultColour, data-text-bg-color='#fbfbfb')
                                        div.indicator-left
                                            div.indicator-left-inner
                                        div.indicator-right
                                            div.indicator-right-inner
                                        div.inner
                            .col-md-8.col-xs-12.demo-result
                                div.name TypingDNA match
                                    span.result-red #{lastResult.result === 1 ? 'true' : 'false'}
                                div.name Device
                                    span.result #{device}
                                div.name Enrollments
                                    span.result#enrollments #{diagramCount}
        div
            a.btn.btn-colors.btn-s(onclick="restart();" role="button" style={'margin-top':'20px'})
                b Try again
    script.
        (function() {
            if(!isIframe()) {
                var note = document.getElementById('note');
                if(note) {
                    note.style.display = 'block';
                }
            }
        })();