extends layout
block content
    div.container
        //Finish learn
        div#final.step.contact-form-inner.form-horizontal(style={"display":"inline", "opacity":1, "padding":"15px 40px 0"})
            if lastResult.result === 1
                h4.result-title(style={ 'margin-left': '-15px' }) Authentication succeeded!
                .form-group.demo-bm
                    .panel.panel-default.panel-result(style="margin-bottom: 5px;")
                        .panel-body
                            .col-md-8.col-xs-12.demo-result
                                div.name TypingDNA result
                                    span.result-green #{lastResult.result === 1 ? 'true' : 'false'}
                                div.name Confidence
                                    span.result #{lastResult.highConfidence == 1 ? 'High' : 'Low' }
                                div.name Device
                                    span.result #{device}
                                div.name Enrollments
                                    span.result#enrollments #{patternCount}
                    if showEnroll
                        i.fa.fa-check(style='color:#1fb01f')
                        p#autoenroll(style='display:inline;') This typing pattern has been automatically <b>enrolled</b>, as the <b>score > 90</b>
                    div(style={ 'padding-top': '20px' })
                        a#btn_next.btn.btn-colors.btn-s(onclick="restart();" role="button" style='float:left; margin-right: 20px;')
                            b Try again
                span.result-title
            else
                .form-group(style="margin-bottom: 5px;")
                    h4.result-title Authentication failed!
                .form-group.demo-bm
                    .panel.panel-default.panel-result
                        .panel-body
                            .col-md-8.col-xs-12.demo-result
                                div.name TypingDNA result
                                    span.result-red #{lastResult.result === 1 ? 'true' : 'false'}
                                div.name Confidence
                                    span.result #{lastResult.highConfidence == 1 ? 'High' : 'Low' }
                                div.name Device
                                    span.result #{device}
                                div.name Enrollments
                                    span.result#enrollments #{patternCount}
                    div(style={'padding-top': '20px'})
                        a#btn_next.btn.btn-finance(onclick="restart();" role="button" style='float:left; margin-right: 20px;')
                            b Try again
    script.
        (function() {
            if(!isIframe()) {
                var note = document.getElementById('note');
                if(note) {
                    note.style.display = 'block';
                }
            }
        })();