if messages
  if messages.errors && messages.errors.length > 0
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for error in messages.errors
        div= error.msg + " "
          if error.link
            a(href=error.link.href) #{error.link.text}
  if messages.info
    .alert.alert-info.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for info in messages.info
        div= info.msg
  if messages.success
    .alert.alert-success.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      for success in messages.success
        div= success.msg
