extends layout
block content
    div.container
        //Finish learn
        include ./flash
        div#final.step.contact-form-inner.form-horizontal(style={"display":"inline", "opacity":1, "padding":"15px 40px 0"})
            if loggedIn
                .form-group
                    p#title
                        | Authentication succeeded!
                .form-group
                    div
                        | You have
                        b(style="color: #1c8c09")   successfully logged in
                        |   with typing biometrics verification and identified as being the correct user.
                .form-group
                    p Enroll this new typing behavior to increase the accuracy for further authentication.
                    form#sbmForm(method="post")
                        a(href="javascript: submitform()") Enroll typing behavior
                    div(style={'padding-top': '20px'})
                        button#btn_next.btn.btn-finance(onclick="restart(" + (displayDebug ? 'true' : 'false') + ",'index');" role="button" style='float:left; margin-right: 20px;')
                            b Try Again
                .form-group
                    .panel.panel-default
                        .panel-body
                            span Device : #{device}
                            br
                            span Enrollments found : #{diagramCount}
                            br
                            br
                            span Match : #{lastResult.result === 1 ? 'True' : 'False'}
                            br
                            span Score : #{lastResult.score}%
            else if wrongPassword
                .form-group
                    p#title
                        | Credentials don’t match.
                .form-group
                    div
                        | The typed
                        b   password is incorrect.
                        |  Please try again by using the correct password associated with this email.
                        br
                .form-group

                    form#sbmForm(method="post")
                        | If you forgot the password,
                        a(href="javascript: submitform()")  click here to reset.
                    div(style={'padding-top': '20px'})
                        button#btn_next.btn.btn-finance(onclick="restart(" + (displayDebug ? 'true' : 'false') + ",'index');" role="button" style='float:left; margin-right: 20px;')
                            b Try Again
            else if isNewUser
                .form-group
                    p#title
                        | Registration finished! Try to Authenticate.
                .form-group
                    div
                        | You have
                        b   successfully registered.
                        |  Use the same email and password, in order to demo the typing biometrics authentication.
                        br
                    div(style={'padding-top': '20px'})
                        button#btn_next.btn.btn-finance(onclick="restart(" + (displayDebug ? 'true' : 'false') + ",'index');" role="button" style='float:left; margin-right: 20px;')
                            b Try Authentication
            else
                .form-group
                    p#title
                        | Authentication failed!
                .form-group
                    div
                        | Your
                        b(style="color:#d42626")   typing behavior is not the same
                        |  as the one used during registration of this email address and password.
                        br
                        | Try again by typing the way you did when you registered.
                    div(style={'padding-top': '20px'})
                        button#btn_next.btn.btn-finance(onclick="restart(" + (displayDebug ? 'true' : 'false') + ",'index');" role="button" style='float:left; margin-right: 20px;')
                            b Try Again
                .form-group
                    .panel.panel-default
                        .panel-body
                            span Device : #{device}
                            br
                            span Enrollments found : #{diagramCount}
                            br
                            br
                            span Match : #{lastResult.result === 1 ? 'True' : 'False'}
                            br
                            span Score : #{lastResult.score}%
        //Loading
        div.step.form-group(id="step_loading")
            .loader(style="top: 50%;left: 50%;margin: -50px 0 0 -25px; width: 50px;height: 50px;")
    script.
        function submitform() {
            swapContent('final', 'step_loading');
            var form = document.getElementById('sbmForm')
            form && form.submit()
        }
        (function() {
            if(!isIframe()) {
                var note = document.getElementById('note');
                if(note) {
                    note.style.display = 'block';
                }
            }
        })();